<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" /></configSections>
  <MsmqTransportConfig NumberOfWorkerThreads="10" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="test.error" />
  <log4net>
  </log4net>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
</configuration>
